.layout {
  min-height: 100vh;
}

.title {
  color: whitesmoke;
  font-size: 20px;
  float: left;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: -1px;
}

nz-header {
  width: 100%;
}

nz-content {
  padding: 50px;
}

.content {
  background: #fff;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
  min-height: 350px;
}
